<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body style="background-color: #efefef">
<div th:replace="header :: header"></div>
<div class="container-fluid" style="background-color: white;margin: 40px">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="container-fluid">
                <h3><span th:text="${sectionName}"></span></h3>
            </div>
            <hr>
            <div class="media" th:each="posts : ${page.getPosts()}" style="margin-top: 20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" style="width: 60px;height: 60px"
                             th:src="${posts.user.getHead_url()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${posts.getTitle()}"></h4>
                    <span class="text-desc" style="font-size: 12px;font-weight: normal;color: #999;">
                        <span th:text="${posts.getComment_count()}"> </span>个回复·
                        <span th:text="${posts.getView_count()}"></span>次浏览·
                        <span th:text="${posts.getLike_count()}"></span>次点赞·发布时间：
                        <span th:text="${#dates.format(posts.getGmt_create(),'yyyy-MM-dd')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${page.isShowFirst()}">
                        <a th:href="@{'/userCenter/'+${section}(page=${1})}" aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${page.isShowPrevious()}">
                        <a th:href="@{'/userCenter/'+${section}(page=${page.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="pageDTO : ${page.pages}" th:class="${page.page == pageDTO}? 'active' : ''">
                        <a th:href="@{'/userCenter/'+${section}(page=${pageDTO})}" th:text="${pageDTO}"></a>
                    </li>
                    <li th:if="${page.isShowNext()}">
                        <a th:href="@{'/userCenter/'+${section}(page=${page.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${page.isShowEnd()}">
                        <a th:href="@{'/userCenter/'+${section}(page=${page.getAllPage()})}" aria-label="End">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-top: 30px">
                <a href="/userCenter/myPosts"  th:class="${section == 'myPosts'} ? 'active list-group-item' : 'list-group-item' ">我的帖子</a>
                <a href="/userCenter/replies"  th:class="${section == 'replies'} ? 'active list-group-item' : 'list-group-item' ">
                    我的回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>